/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	background: #fcfcfc url(../images/turf_bg.jpg) top center;
	text-align: center;
}

#title {
	background-color: rgba(0,0,0,0.7);
	padding: 10px 5px 9px 5px;
	margin-bottom: 10px;
	color: #eee;
	font-size: 20px;
}

#title h1 {
	font-size: 26px;
	line-height: 100%;
	margin-top: 10px;
	margin-bottom: 0px; 
	color: #82d5f8;
	font-family: 'Nosifer', cursive;
}

#playerName {
	color: #e8e983;
	font-weight: bold;
}

#pictures img {
	vertical-align:text-top;
}

#submission-cont {
	height: 65px;
	margin-top: 10px;
}

#vote-cont {
}

.button {
	padding: 5px 15px 5px 15px;
	font-size: 24px;
	width: 100px;
}

#yes-btn {
	color: #cb4343;
	margin-right: 5px;
}

#no-btn {
	color: #558d14;
	margin-left: 5px;
}

#count-cont {
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	padding-top: 4px;
}

#count-cont h4 {
	color: #82d5f8;
}

.picture-label {
	position: absolute;
	background-color: rgba(219,219,219,0.7);
	padding: 3px;
	width: 40px;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		img {
			max-width: 140px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/